* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #121212;
}

input {
  width: 100%;
  padding: 8px 0 8px 10px;
  border: none;
  outline: none;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;

  &::placeholder {
    color: #666;
  }
}

button {
  width: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #356c66;
}
