main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #356c66;
  }

  .text {
    color: #fff;
    font-size: 20px;
  }
}
